<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Cars</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Cars</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/ads}" style="margin-right: 750px">На главную</a>
            </div>
            <a class="nav-item nav-link" th:if="${user.name == 'Гость'}" th:href="@{/formLogin}">
                <span th:text="${user.name}"></span>
                <span> | Войти</span>
            </a>
            <a class="nav-item nav-link" th:if="${user.name != 'Гость'}" th:href="@{/logout}">
                <span th:text="${user.name}"></span>
                <span> | Выйти</span>
            </a>
        </div>
    </nav>
    <div class="row pt-3">
        <div class="card" style="width: 100%">
            <div class="card-header">
                <h3><span th:text="${ad.name}"></span></h3>
            </div>
            <div class="card-body">
                <table>
                    <tbody>
                    <td>
                        <p>
                            <b>Описание: </b>
                            <span th:text="${ad.description}"/>
                        </p>
                        <p>
                            <b>Добавлена: </b>
                            <span th:text="${#dates.format(ad.created, 'dd-MMM-yyyy')}"></span>
                        </p>
                        <p>
                            <b>Категория: </b>
                            <span th:text="${ad.car.category.name}"/>
                        </p>
                        <p>
                            <b>Кузов: </b>
                            <span th:text="${ad.car.body.type}"/>
                        </p>
                        <p>
                            <b>Бренд: </b>
                            <span th:text="${ad.car.brand.name}"/>
                        </p>
                        <p>
                            <b>Модель: </b>
                            <span th:text="${ad.car.model.name}"/>
                        </p>
                        <p>
                            <b>Тип двигателя: </b>
                            <span th:text="${ad.car.engine.name}"/>
                        </p>
                        <p>
                            <b>Пробег: </b>
                            <span th:if="${ad.newCar}">
                                Без пробега
                            </span>
                            <span th:if="${!ad.newCar}">
                                С пробегом
                            </span>
                        </p>
                        <p>
                            <b>Статус: </b>
                            <span th:if="${ad.sold}">
                                Продано
                            </span>
                            <span th:if="${!ad.sold}">
                                В продаже
                            </span>
                        </p>
                        <p>
                            <b>Автор объявления: </b>
                            <span th:text="${ad.user.name}"/>
                        </p>
                    </td>
                    <td>
                        <img th:width="550" th:high="550" th:src="@{|/photoAd/${ad.id}|}">
                    </td>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="btn-group" th:if="${user.name != 'Гость' && user == ad.user}">
            <form  th:action="@{|/setSold/${ad.id}|}" method="GET">
                <button type="submit" class="btn btn-primary mt-3" style="margin-right: 16px" >Продано</button>
            </form>
            <form  th:action="@{|/deleteAd/${ad.id}|}" method="GET">
                <button type="submit" class="btn btn-primary mt-3" >Удалить</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>